<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='HelloWorldApp' Id='B109A3DB-85C7-4930-9F39-4913298FBB0A' 
    UpgradeCode='5E9629F7-2299-4CB2-9DE9-5DBB46C1A8E3' Language='1033' 
    Codepage='1252' Version='1.0.0' Manufacturer='DOPL'>

    <Package Id='*' Keywords='Installer' Description="HelloWorld App Installer"
      Comments='HelloWorldApp is a registered trademark of DOPL' Manufacturer='DOPL'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
	
      <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
      <Property Id='DiskPrompt' Value="DOPL HelloWorld 1.0 Installation [1]" />
	
      <Directory Id='TARGETDIR' Name='SourceDir'>
	
        <Directory Id='ProgramFilesFolder' Name='PFiles'>
          <Directory Id='DOPL' Name='DOPL'>
            <Directory Id='INSTALLDIR' Name='HelloWorldApp_1.0'>
              <Component Id='MainExecutable' Guid='3948E0F1-BF20-4620-81D8-EE5867C4F96F'>   
                <File Id='HelloWorldAppEXE' Name='HelloWorld.exe' DiskId='1' 
                  Source='helloworld.exe' KeyPath='yes'>

                  <Shortcut Id="HelloWorldAppProgramMenu" Directory="ProgramMenuDir" 
                    Name="HelloWorldApp" WorkingDirectory='INSTALLDIR' 
                    Icon="explorer_102.ico" IconIndex="0" Advertise="yes" />
                  <Shortcut Id="HelloWorldAppDesktopShortcut" Directory="DesktopFolder" 
                    Name="HelloWorld" WorkingDirectory='INSTALLDIR' 
                    Icon="explorer_102.ico" IconIndex="0" Advertise="yes" />
                </File>
              </Component>
		        </Directory>
          </Directory>
        </Directory>

        <Directory Id="ProgramMenuFolder" Name="Programs">
          <Directory Id="ProgramMenuDir" Name="HelloWorldApp">
            <Component Id="ProgramMenuDir" Guid="4AF05ECC-CEEA-4221-B584-61A6657C1E15">
              <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' 
                Type='string' Value='' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>

        <Directory Id="DesktopFolder" Name="Desktop" />
	  
    </Directory>
	
    <Feature Id='Complete' Title='HelloWorldApp 1.0' 
      Description='The complete package.' Display='expand' Level='1'
      ConfigurableDirectory='INSTALLDIR'>
	  
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='ProgramMenuDir' />
	  
    </Feature>
	
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
	
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Icon Id="explorer_102.ico" SourceFile="explorer_102.ico" />
	
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />  
    <!-- these commented out items can configure WixUI_Mondo
      <WixVariable Id="WixUIBannerBmp" Value="path\banner.bmp" />
      <WixVariable Id="WixUIDialogBmp" Value="path\dialog.bmp" />
      <WixVariable Id="WixUIExclamationIco" Value="path\exclamation.ico" />
      <WixVariable Id="WixUIInfoIco" Value="path\information.ico" />
      <WixVariable Id="WixUINewIco" Value="path\new.ico" />
      <WixVariable Id="WixUIUpIco" Value="path\up.ico" /> -->
  </Product>
</Wix>